@model IEnumerable<PruebaPasantia.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="Filtrando" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Completo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th></th>
        </tr>
    </thead>
   

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Completo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdCliente }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdCliente }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdCliente })
            </td>
        </tr>
    }

</table>

    @section scripts{
        <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <script>
            $('#Filtrando').DataTable();
        </script>
    }


